<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>学生宿舍管理系统</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{resource/css/dashboard.css}" rel="stylesheet">
  </head>

  <body>

    <div th:replace="common/navheader :: #header"></div>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div th:replace="common/usersidebar :: #sidebar (url='main')"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h2 class="sub-header">图书列表</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>书名</th>
                  <th>价格</th>
                  <th>库存</th>
                  <th>作者</th>
                  <th>购买数量</th>
                  <th>操作</th>
              </thead>
              <tbody>
                  <tr th:each="book,stat:${page.booklist}">
                    <td th:text="${book.bookName}"></td>
                    <td th:text="${book.bookSprice}"></td>
                    <td th:text="${book.bookCount}"></td>
                    <td th:text="${book.bookAuthor}"></td>
                    <td><input type="number" class="bookNumber" value="1" min="1" ></td>
                    <td>
                      <a class="btn btn-default" th:onclick="'javascript:addCartFun('+${book.bookId}+','+${stat.index}+');'">加入购物车</a>
                    </td>
                  </tr>
              </tbody>
            </table>
            <ul class="pagination" th:if="${page.pageNum>0}">
              <li><a href="/page?pageNum=1">首页</a></li>
              <!--当前页数为第一页-->
              <th:block th:if="${page.pageNum == 1} "th:each="num,stat:${#numbers.sequence(page.start,page.end)}">
                <li th:if="${page.pageNum == num}"><span  style="color: deeppink" th:text="${num}"></span></li>
                <li th:if="${page.pageNum != num}"><a th:href="@{'/page?pageNum='+${num}}" th:text="${num}"></a></li>
              </th:block>
              <!--中间页-->
              <th:block th:if="${page.pageNum >1 && page.pageNum<page.totalPage}" >
                <li><a th:href="@{'/page?pageNum='+${(page.pageNum)-1}}">上一页</a></li>
                <th:block th:each="num,stat:${#numbers.sequence(page.start,page.end)}">
                  <li th:if="${page.pageNum == num}"><span  style="color: deeppink" th:text="${num}"></span></li>
                  <li th:if="${page.pageNum != num}"><a th:href="@{'/page?pageNum='+${num}}" th:text="${num}"></a></li>
                </th:block>
                <li><a th:href="@{'/page?pageNum='+${(page.pageNum)+1}}">下一页</a></li>
              </th:block>
              <!--当前页数为最后一页-->
              <th:block th:if="${page.pageNum == page.totalPage}">
                <li><a th:href="@{'/page?pageNum='+${(page.pageNum)-1}}">上一页</a></li>
                <th:block th:each="num,stat:${#numbers.sequence(page.start,page.end)}">
                  <li th:if="${page.pageNum == num}"><span  style="color: deeppink" th:text="${num}"></span></li>
                  <li th:if="${page.pageNum != num}"><a th:href="@{'/page?pageNum='+${num}}" th:text="${num}"></a></li>
                </th:block>
                <li><a th:href="@{'/page?pageNum='+${(page.pageNum)+1}}">下一页</a></li>
              </th:block>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
        function addCartFun(bookId,ind) {
            var number = document.getElementsByClassName("bookNumber");
            var num = number[ind].value;
            var ajax;
            if (window.XMLHttpRequest){
                ajax = new XMLHttpRequest();
            } else if (window.ActiveXObject){
                ajax = new ActiveXObject("Msxml2.XMLHTTP");
            }
            ajax.onreadystatechange = function () {
                if (ajax.readyState == 4){
                    if (ajax.status == 200){

                    }
                }
            }
            ajax.open("post","user",true);
            ajax.setRequestHeader("Content-type","application/x-www-form-urlencoded");
            ajax.send("bookId=" + bookId + "&number=" + num+"&pageNum="+[[${page.pageNum}]]);

        }
    </script>
  </body>
</html>
