<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>购书系统 - 管理</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/resource/css/dashboard.css}" rel="stylesheet">
    <link th:href="@{/resource/css/fileinput.min.css}" rel="stylesheet">

    <!--js-->
    <script th:src="@{/webjars/jquery/3.4.0/jquery.min.js}"></script>
    <script th:src="@{/resource/js/bootstrap.min.js}"></script>
    <!--fileinput插件-->
    <script th:src="@{/resource/js/fileinput.min.js}"></script>
    <!--fileinput的中文插件-->
    <script th:src="@{/resource/js/zh.js}"></script>
</head>
<body>
<div th:replace="common/navheader :: #header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div th:replace="common/adminsidebar :: #adminsidebar(url='import')"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">导入图书</h2>
            <div class="container">
                <form id="file_form" action="/import" enctype="multipart/form-data" method="post" class="form-horizontal" role="form" style="margin-top: 20%">
                    <h3 th:text="${msg}"></h3>
                    <div class="form-group col-md-8 ">
                        <input type="file" name="file" id="file_input" class="file_import" data-show-preview="false" >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    init();
    function init() {
        $("#file_input").fileinput({
            language:'zh'
        })
    }
</script>
</body>
</html>
