<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>购书系统 - 购书</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{webjars/bootstrap/3.3.7/css/bootstrap.css}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{resource/css/dashboard.css}" rel="stylesheet">
    <style type="text/css">
        .form-update{
            max-width: 500px;
            padding: 15px;
            margin: 170px auto;
        }
    </style>
</head>
<body>
<div th:replace="common/navheader :: #header"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <div th:replace="common/usersidebar :: #sidebar (url='userupdate')"></div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="sub-header">个人中心</h2>
            <div class="container">
                <form action="/user" method="post" class="form-horizontal form-update" role="form">
                    <input type="hidden" name="_method" value="put">
                    <span style="color: red;" th:text="${session.msg}"></span><br/>
                        <input type="hidden" name="userId" required class="form-control" th:value="${session.user.getUser_id()}"/>
                    <div class="form-group">
                        <label class="control-label col-md-4">昵称</label>
                        <div class="col-md-8">
                            <input type="text" name="userName" required class=" form-control" readonly th:value="${session.user.getUser_name()}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">密码</label>
                        <div class="col-md-8">
                            <input type="text" name="userPassword" required class=" form-control" th:value="${session.user.getUser_password()}"/>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-4">
                        <input type="submit" value="修改密码" class="btn btn-block btn-primary btn-default">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
